<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title></title>
	<link rel="stylesheet" type="text/css" href="/jcrop/css/jcrop.css">
</head>
<body>
	<input type="file" name="" value="" placeholder="">


	<script type="text/javascript" src="/jquery/dist/jquery.js"></script>
	<script type="text/javascript" src="/jcrop/js/jcrop.js"></script>
	<script type="text/javascript" src="/jcrop/js/jquery.color.js"></script>
</body>
</html>