#ahnold{
  position:fixed;
  top:-206px;
  right:0;
  transition:all, 0.7s;
  padding-bottom:60px;
}

#ahnold:hover{
  top:0;
}

h1{
  display: inline-block;
  transition:all, 1s;
}

h1:hover{
  transform:rotate(360deg);
}